@define-color bg #32302f;
@define-color fg #d4be98;
@define-color borders-dark #282828;
@define-color urgent #ea6962;
@define-color ws-focused-color #89b482;
@define-color ws-unfocused-color #665c54;
@define-color red #ea6962;
@define-color blue #7daea3;
@define-color yellow #d8a657;
@define-color green #a9b665;
@define-color orange #e78a4e;
@define-color magenta #d3869b;

* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 13px;
  background: @bg;
}

tooltip {
  background-color: @bg;
  border: 2px solid @borders-dark;
}

window#waybar {
  background: transparent;
  color: white;
}

#workspaces {
  background: @bg;
  color: @fg;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button {
  padding-left: 0px;
  padding-right: 0px;
  margin: 2px;
  color: @ws-unfocused-color;
  background: transparent;
}

#workspaces button.active {
  color: @ws-focused-color;
  transition: all 0.3s ease;
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button.focused {
  color: @ws-focused-color;
}

#workspaces button.urgent {
  border-color: @urgent;
  color: @urgent;
}

#clock,
#mode,
#network,
#battery,
#power-profiles-daemon,
#backlight,
#language,
#keyboard-state,
#pulseaudio,
#custom-power-menu,
#custom-media,
#custom-launcher {
  padding-left: 2px;
  padding-right: 2px;
  margin: 2px;
}

#network,
#backlight,
#clock,
#pulseaudio,
#battery,
#custom-media,
#language,
#keyboard-state {
  color: @fg;
}

#mode {
  transition: none;
  background: @yellow;
  color: @bg;
}

#network.disconnected {
  color: @red;
}

#pulseaudio.muted {
  color: @orange;
}

#window {
  padding: 2px;
  color: #ddc7a1;
}

#custom-media {
  padding: 2px;
  color: @fg;
}

#idle_inhibitor.activated {
  color: @green;
}

#idle_inhibitor.deactivated {
  color: @fg;
}

#battery.charging {
  color: @green;
}

#battery:not(.charging) {
  color: @yellow;
}

#battery.warning:not(.charging) {
  color: @orange;
}

#battery.critical:not(.charging) {
  background: @red;
  color: @bg;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  color: #f53c3c;
}

#power-profiles-daemon.balanced {
  color: #2980b9;
}

#power-profiles-daemon.power-saver {
  color: #2ecc71;
}

#custom-launcher {
  color: @green;
}

#custom-power-menu {
  color: @red;
}

#tray {
  padding-right: 6px;
  margin: 0;
}
